__pycache__/
.vscode/
data/
model/
processed_data/
raw_data/
sam_data/
SAM_choose_sample/results/
SAM_FineTuning/__pycache__/
SAM_FineTuning/.vscode/
SAM_FineTuning/data/
SAM_FineTuning/.vscode/
SAM_FineTuning/checkpoints/
SAM_FineTuning/FineTuning/__pycache__/
SAM_FineTuning/FineTuning/model/
SAM_FineTuning/SAM_choose_sample
SAM_FineTuning/FineTuning/command/
0.004/
0.05/
0.005/
test_single_one/
draw_pic/U1/
draw_pic/U2/
draw_pic/P1/
draw_pic/P1/